@*@{
    Layout = null;
}*@

<div class="row">
    <div id="root" class="col-md-12"></div>
</div>

@section scripts {
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/app.bundle.js"></script>
}